@charset "utf-8";

@import "iconfont/iconfont.css";

html,
body,
#map{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.query-box{
  font-size: 12px;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #ccc;
  padding: 6px;
  z-index: 9;
  width: 300px;
  table{
    width: 100%;
    th,
    td{
      padding: 5px;
      text-align: left;
      span{
        text-decoration: underline;
        display: inline-block;
        padding: 3px 5px;
        cursor: pointer;
        &.active{
          background-color: #da6300;
          color: white;
        }
      }
    }
    th{
      text-align: right;
    }
  }
}
