<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.webgistest.dao.MapMvtMapper">
    <resultMap id="BaseResultMap" type="com.example.webgistest.pojo.MapMvt">
        <constructor>
            <idArg column="z" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <idArg column="x" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <idArg column="y" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.example.webgistest.pojo.MapMvt">
        <constructor>
            <idArg column="z" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <idArg column="x" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <idArg column="y" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="mvt" jdbcType="BINARY" javaType="_byte[]"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        z, x, y
    </sql>
    <select id="selectMVT" resultMap="ResultMapWithBLOBs" parameterType="com.example.webgistest.pojo.MapMvt">
        SELECT #{z,jdbcType=INTEGER}                                                          as z,
               #{x,jdbcType=INTEGER}                                                          as x,
               #{y,jdbcType=INTEGER}                                                          as y,
               MVT_Title(#{z,jdbcType=INTEGER}, #{x,jdbcType=INTEGER}, #{y,jdbcType=INTEGER}) as mvt
    </select>
    <select id="getBBoxXY" resultType="object">
        SELECT TileBBox_XY(
                       #{minX,jdbcType=DOUBLE},
                       #{minY,jdbcType=DOUBLE},
                       #{maxX,jdbcType=DOUBLE},
                       #{maxY,jdbcType=DOUBLE},
                       #{z,jdbcType=INTEGER});
    </select>
</mapper>