@charset "utf-8";

@import "iconfont/iconfont.css";

html,
body,
#map{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tool-box{
  font-size: 12px;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #ccc;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 9;
  li{
    float: left;
    height: 25px;
    line-height: 25px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    &:first-child{
      border-top-left-radius : 4px;
      border-bottom-left-radius:4px;
    }
    &:last-child {
      border-top-right-radius:4px;
      border-bottom-right-radius: 4px;
    }
    &:not(:first-child){
      border-left: 1px solid  #ccc;
    }
    &.active{
      background-color: #5367ec;
      color: white;
    }
  }
}

.edit-info{
  position: absolute;
  top: 50px;
  right: 12px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #ccc;
  padding: 10px;
  list-style: none;
  z-index: 9;
  display: none;
}

